	body
	{
		font-family: 'Trebuchet MS';
		font-size: 0.8em;
		color: black;
		background-color: rgb(174, 204, 203);
	}
	#conteneur
	{
		width: 960px;
		margin: auto;
		background-color: rgb(123, 163, 160);
	}
	header
	{
		height: 100px;
		border-bottom: 2px solid rgb(24, 71, 69);
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	header h1
	{
		color: rgb(24, 71, 69);
		font-size: 3em;
	}

	footer
	{
		border-top: 2px solid rgb(24, 71, 69);
		clear: both;
	}
	
	section
	{
		display: flex;    
		flex-direction: column;
		width: 100%;
	}
	form{
		display: flex;    
		flex-direction: column;
		align-items: center;
	}
	article
	{
		padding: 10px 5px 10px 5px;
                clear: both;
	}
	
	article h1
	{
		color: rgb(24, 71, 69);
		font-size: 1.3em;
		font-style: italic;
		border-bottom: 1px solid rgb(24, 71, 69);
	}
	
	.imgfloat
	{
		float: left;
		margin: 0px 5px 5px 0px;
	}
	
	p
	{
		text-align: justify;
	}
		
	
	

	